@import "../lib/bootstrap-5.3.0-alpha1-dist/css/bootstrap.min.css";
@import "../lib/fontawesome-free-6.3.0-web/css/all.min.css";
@import "./font_face.css";
@import "./header.css";
@import "./footer.css";
* {
    font-family: 'SVN-Gilroy';
}

:root {
    --header-height: 100px;
    --main-color: #ecab08;
    --sub-color: #2A2A86;
    --red-color: #CA171E;
    --violet-gray: #acacc1;
    --box-shadow-default: 0 4px 4px rgba(0, 0, 0, 5%), 0 6px 12px 0 rgb(0 0 0 / 5%);
    --default-bg: #f8f8f8;
    --s-white: #ffffff;
}

::-webkit-scrollbar {
    height: .75rem;
    width: .75rem;
    background: #dde1ef;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    background-color: #ffd277;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #f8bb42;
}

main {
    margin-top: var(--header-height);
    background-color: var(--default-bg);
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: var(--main-color);
}

@media (max-width: 991px) {
    main {
        margin-top: 55px;
    }
}


/* Component */

.heading {
    color: var(--main-color);
    font-size: 1.25rem;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    padding-top: .75rem;
    padding-bottom: 0.5rem;
}

.main-button {
    background-color: var(--main-color);
    color: white;
    width: 100%;
    padding: .5rem 2rem;
    text-align: center;
    border: 1px solid var(--main-color);
    border-radius: .25rem;
    font-weight: 500;
    transition: all ease .3s;
    display: block;
}

.main-button:hover {
    color: var(--main-color);
    background-color: white;
}


/* Utility */


/* Font size */

.text-12 {
    font-size: 0.75rem;
}

.text-14 {
    font-size: 0.875rem;
}

.text-20 {
    font-size: 1.25rem;
}


/* Color */

.text-blue {
    color: #ffff;
}

.text-red {
    color: #FF0000;
}

.text-main {
    color: #0F141E;
}

.text-sub {
    color: var(--sub-color)
}


/* Background Color */

.bg-main {
    background-color: var(--main-color);
}

.bg-blue {
    background-color: #0F141E;
}


/* Another */

.text-hover-main:hover {
    color: var(--main-color) !important;
}


/* Horizontal Slider */

.h-slider {
    position: relative;
}

.h-slider__list {
    display: flex;
    gap: 2rem;
    list-style-type: none;
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
}

.h-slider__list::-webkit-scrollbar {
    display: none;
}

@media (max-width: 768px) {
    .h-slider__list::-webkit-scrollbar {
        display: initial;
    }
}


.h-slider__btn {
    --w: var(--width);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    display: block;
    width: var(--w);
    height: var(--w);
    border-radius: 50%;
    background: var(--bg-color);
    opacity: .6;
    color: white;
    filter: drop-shadow(0 0 4px rgba(208, 208, 208, 0.2));
    transition: all .3s ease;
}

.h-slider__btn::after {
    content: "";
    position: absolute;
    inset: -60%;
    transition: .3s ease;
    border-radius: 50%;
}

.h-slider__btn:hover::after {
    background: rgba(208, 200, 200, 0.2);
}

.h-slider__btn:hover {
    opacity: .9;
}

.h-slider__btn.left {
    left: -.5rem;
}

.h-slider__btn.right {
    right: -.5rem;
}


/* Items List */

.items__heading h4 {
    font-weight: 600;
    font-size: 1.25rem;
    text-transform: uppercase;
}

.product-name {
    font-size: 14px;
    line-height: 20px;
    margin-top: 0;
    color: #1c1c1c;
    font-weight: 400;
    height: 40px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.product-price {
    color: #49a942;
    font-size: 1.07143em;
    line-height: 1.71429em;
    display: block;
    font-weight: 600;
    float:left;
}
.product-info {
    z-index: 10;
    position: relative;
    padding: 0px 0px;
}
.product-info .product-name a{
    color: #1c1c1c;
    text-decoration: none;
    float:left;
}
.btn-cart {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.btn-cart i {
    font-size: 24px;
    color: #f39c12; /* Ví dụ màu vàng */
}

.cart-box button {
    margin:auto;
    display: block;
    border: none;
    width: 3rem;
    height: 3rem;
    background-color: hsla(0, 0%, 100%, .8);
    box-shadow: 0 5px 10px hsla(0, 0%, 61%, .22);
    -webkit-box-shadow: 0 5px 10px hsla(0, 0%, 61%, .22);
    border-radius: 4px;
    /*background-repeat: no-repeat;
    background-position: 50% 50%;*/
    float:right;
}
.lbl-rating {
    font-size: 13px;
    float:left;
}

.icon::before {
    content: "\2605"; /* Biểu tượng ngôi sao Unicode */
    color: #f39c12;
    margin-right: 5px;
}

.border-col:hover{
    background-color: hsla(0, 0%, 100%, .8);
    box-shadow: 0 5px 10px hsla(0, 0%, 61%, .22);
    -webkit-box-shadow: 0 5px 10px hsla(0, 0%, 61%, .22);
    transform:scale(1.1);
    transition: transform 0.5s ease;
}
.border-col{
    background-color: hsla(0, 0%, 100%, .8);
}

/*Chi tiet san pham*/
.breadcrumb-item a{
    text-decoration: none;
    color:black;
}