
.container-fluid{
    font-size: 12px;
}
.bg-color{
    background-color: #3a3a3a;
}
#ul1 .nav-item:nth-child(1){
    border-right:1px solid white;
}
.rotate {
    transform: rotate(90deg); /* Xoay icon 180 độ */
}
#ul2{
    float:right;
}
#ul2 .nav-item:nth-child(3){
    border-right:1px solid white;
}
#ul2 .nav-item .nav-link a{
    text-decoration: none;
    color:white;
}
#ul2 .nav-item .nav-link a:hover{
    color:red;
}
.navbar-nav i:hover{
    transform: scale(1.3);
    transition: transform 1.0s ease;
}
.d-flex .input-group{
    position:relative;
}
.d-flex #js-search-input{
    background: none;
    border-radius: 20px;
}
.d-flex #js-search-btn{
    background: none;
    border:none;
}
.d-flex #js-search-btn:hover{
    transform: scale(1.2);
    transition: transform 1.0s ease;
}
#ul2 li:hover .menu{
    display:block;
}
#ul2 li .menu{
    display:none;
    position:absolute;
    z-index: 100;
}
.menu li{
    height:30px;
    border-top: 0.5px solid rgb(201, 199, 199);
    list-style-type: none;
    background-color: white;
    line-height: 30px;
    padding-left:10px;
}
.menu li a{
    font-size:13px;
    text-decoration: none;
}
.menu li a:hover{
    color:orange;
}


/* Sub - menu */
/*
#ul3 .nav-item:nth-child(3){
    position:relative;
}*/
#ul3 li:hover .sub-menu{
    display:block;
}
#ul3 li .sub-menu{
    display:none;
    /*background-color:rgb(74, 125, 7,0.7);*/
    background-color: white;
    position:absolute;
    top:60px;
}
#ul3 li .sub-menu li{
    list-style-type: none;
    height:30px;
    line-height: 30px;
    border-bottom:0.2px solid rgb(189, 188, 188);
    margin-left:-32px;
}
#ul3 li .sub-menu li a{
    text-decoration: none;
    margin-top:10px;
    padding-left:10px;
    color:black;
}
#ul3 li .sub-menu li a:hover{
    color:orange;
}
#ul3 li:hover{
    border-bottom: 1px solid rgb(171, 8, 8);
}

.nav-link a {
    font-size: 18px; /* chỉnh cỡ chữ */
    font-weight: 600; /* làm chữ đậm hơn (tùy chọn) */
}